<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
  <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application>
    <service
      android:name="expo.modules.mapozytracker.TrackingService"
      android:foregroundServiceType="location"
      android:exported="false"/>
    <receiver
      android:name="expo.modules.mapozytracker.BootReceiver"
      android:enabled="true"
      android:exported="true"
      android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>
    <receiver
      android:name="expo.modules.mapozytracker.ActivityReceiver"
      android:exported="false"/>
    <receiver
      android:name="expo.modules.mapozytracker.GeofenceReceiver"
      android:exported="false"/>
    <receiver
      android:name="expo.modules.mapozytracker.WatchdogReceiver"
      android:exported="false"/>
  </application>
</manifest>
